*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(248, 235, 93);
    padding: 10px;
}
main{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 100px 500px 100px;
grid-gap: 10px;
grid-template-areas: 
"h h h h h h h h h h h h"
"m m m m c c c c c c c c"
"r r r r r r r r r r r r";

}

header, nav, article, footer{
    padding: 10px;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: deeppink;
    grid-area: h;
}

nav{
    background-color: rgb(104, 240, 135);
    grid-area: m;
}

article{
    background-color: rgb(63, 235, 235);
    grid-area: c;
}

footer{
    background-color: rgb(241, 97, 241);
    grid-area: r;
}
